#root {
  margin: 0 auto;
  text-align: center;
}

h1{
  margin-top:0px;
}

.total{
  border: 2px solid #646cff;
  border-radius: 10px;
  padding:5px;
  margin:0;
  max-width: fit-content;
  justify-self: center;
}

input{
  border: 2px solid  #61dafbaa;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.chart{
  max-width: 500px;
  margin: 10px auto;
}
