:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.button-group {
  display: flex;
  gap: 10px;
  margin: 15px;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

form>.total {
  padding: 8px;
}

.total:hover {
  cursor: not-allowed;
}

/* ul{
  list-style:circle;
  text-align: start;
} */

input {
  width: 200px;
}

.alert-info {
  background-color: #e0f7fa;
  opacity: 0.5;
  color: #012147;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

/* .transaction-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  list-style: disc;
  list-style-position: inside;
}

.transaction-details {
  flex: 1;
  text-align: left;
  padding-right: 10px;
} */

.transactions-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: white;
}

.transactions-table th {
  text-align: center;
  padding: 10px;
  font-weight: 600;
  color: #cccccc;
  font-size: x-large;
  font-family: "Gravitas One", serif;
  font-style: normal;
}


.transactions-table td {
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-size: larger;
  font-style: normal;

}

.category-icon {
  margin-right: 8px;
  font-size: 18px;
}

/* Actions column */
.action-buttons {
  display: flex;
  gap: 10px;

}

.action-buttons button {
  background: transparent;
  border: none;
  cursor: pointer;

}

.edit-delete img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.edit-delete {
  display: flex;
  gap: 10px;
  margin: 2px;
}