:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.modal{
  background-color: #33047586;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 234, 255, 0.995);
}

.modal input {
  border: 2px solid #646cff;
  border-radius: 10px;
  margin: 10px 5px;
  padding: 5px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin: 15px;
}

.overlay{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

form > .total{
  padding:8px;
}

.total:hover{
  cursor: not-allowed;
}

/* ul{
  list-style:circle;
  text-align: start;
} */

input{
  width: 200px;
}

.recent-transactions{
  border: 1px solid #646cff;
  border-radius: 10px;
  padding: 5px;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

.recent-transactions:hover {
  box-shadow: 1px 1px 1px rgb(0, 255, 255);
  transition: background-color 1s, color 1s;
  cursor: pointer;
}

.alert-info {
  background-color: #e0f7fa;
  opacity: 0.5;
  color: #012147;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.transaction-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:5px;
  list-style: disc;
  list-style-position: inside;
}

.transaction-details {
flex: 1;
text-align: left;
padding-right: 10px;
}

.edit-delete img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.edit-delete{
  display: flex;
  gap: 10px;
  margin: 2px;
}